<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="testDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Миша\ProjectsVisualStudio\MS_SQL_FINAL\MS_SQL_FINAL\Database2.mdf;Integrated Security=True"/>
		<add name="Nord_DB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Миша\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\northwnd.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>